#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.orange {
  color:#F0923C;
}

.brown {
  color:rgb(94, 46, 18);

}
.logo {
  height: 64px; /* גובה הלוגו */
  width: auto; /* רוחב אוטומטי לשמירת הפרופורציות */
  transition: transform 0.3s ease-in-out; /* אנימציה */
}
.logo:hover {
  transform: scale(1.1); /* הגדלת הלוגו בעת מעבר עכבר */
}

